doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style.
      body{
        width: 100px;
        height: 100px;
        -webkit-animation-name: backgroundTrans 5s infinite; /* Safari 4.0 - 8.0 */
        animation: backgroundTrans 5s infinite;
      }
      img{
        position: absolute;
        left: 50px;
        animation: move 5s infinite;
      }
      p {
        text-align: center;
        font-size: 60px;
        margin-top:0px;
        color: red;
        -webkit-animation-name: timerTrans 5s infinite; /* Safari 4.0 - 8.0 */
        animation: timerTrans 5s infinite;
      }
      div.container4 p{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
      }
      @keyframes  backgroundTrans {
        from {background-color: black;}
        to {background-color: blue;}
      }
      @keyframes timerTrans {
        from {color: red;}
        to {color: black;}
      }
      @keyframes move {
        from {top: 0%;}
        to {top: 80%;}
      }
  .container4
    body
      p#demo
  script(src='../javascript/p5.min.js')
  script(src='../javascript/addons/p5.dom.min.js')
  script(src='../javascript/addons/p5.sound.min.js')
  script(src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js")
  script.
    // Set the date we're counting down to
    //first Period end
    //var countDownDate = new Date("March 23, 2018 9:19:00").getTime();
    //third Period    
    var countDownDate = new Date("March 23, 2018 13:32:00").getTime(); 
    var distance = countDownDate;
    // Update the count down every 1 second
    var x = setInterval(function() {
    // Get todays date and time
    var now = new Date().getTime();
    // Find the distance between now an the count down date
    distance = countDownDate - now;
    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    // Output the result in an element with id="demo"
    document.getElementById("demo").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";
    // If the count down is over, write some text
    if (distance <= 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "Mullen is gone! Congrats on surviving!";
    }
    }, 1000);
    var x=0; 
    var update = setInterval(function() {
    if(distance<=0){
    while(x<window.innerHeight*2){
    var balloon = document.createElement("IMG");
    balloon.src = "/images/ballon1.png";
    balloon.width = "75";
    balloon.style.left = x+"px";
    document.body.appendChild(balloon);
    x += 125;
    }
    }
    }, 1000);
    
